<section id="{{makeId title}}" class="hero is-medium is-dark has-text-centered" style="background-image: url(/media/img/{{ banner.source }})">
	{{#if link}}
		<a href="/{{ path }}">
			<div class="hero-body">
				<div class="container is-invisible">
					<h1 class="title is-1">{{ title }}</h1>
					{{#if subtitle }}<h2 class="subtitle">{{ subtitle }}</h2>{{/if}}
				</div>
				{{#unless available}}<img src="/media/img/coming-soon.png" alt="Coming Soon" />{{/unless}}
			</div>
		</a>
	{{else}}
		<div class="hero-body">
			<div class="container is-invisible">
				<h1 class="title is-1">{{ title }}</h1>
				{{#if subtitle }}<h2 class="subtitle">{{ subtitle }}</h2>{{/if}}
			</div>
			{{#unless available}}<img src="/media/img/coming-soon.png" alt="Coming Soon" />{{/unless}}
		</div>
	{{/if}}
</section>