<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />

<title>{{#if title}}{{title }} &ndash; {{/if}}{{ siteTitle }}</title>

<meta name="twitter:site" content="@{{ twitter }}" />
<meta name="twitter:creator" content="@{{ twitter }}" />
<meta name="twitter:card" content="summary_large_image" />

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{#if title}}{{ title }}{{else}}{{ siteTitle }}{{/if}}" />
<meta property="og:url" content="{{ baseUrl }}/{{ path }}" />
<meta property="og:description" content="{{#if description}}{{ description }}{{else}}{{ defaultDescription }}{{/if}}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_GB" />

{{#if image}}
<meta property="og:image" content="{{ baseUrl }}/media/img/{{ image.source }}" />
<meta property="og:image:type" content="image/jpg" />
<meta property="og:image:width" content="{{ image.width }}" />
<meta property="og:image:height" content="{{ image.height }}" />
{{else}}
<meta property="og:image" content="{{ baseUrl }}/media/img/we-evolve.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="716" />
<meta property="og:image:height" content="236" />
{{/if}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
<link rel="stylesheet" href="/media/css/styles.css" />
</head>
<body>

<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">we evolve</a>

		<a id="navbar-activator" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="menu-main">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="menu-main" class="navbar-menu">
		<div class="navbar-start">
			<a href="/about/" class="navbar-item">About</a>
			<a href="/shop/" class="navbar-item">Shop</a>
		</div>
		<div class="navbar-end">
			<a href="https://twitter.com/{{ twitter }}" class="navbar-item">
				<span class="icon is-hidden-touch"><i class="fab fa-twitter"></i></span>
				<span class="is-hidden-desktop">Twitter</span>
			</a>
		</div>
	</div>
</nav>
