
<div class="shop-item has-text-centered">
	<figure class="image">
		<a href="/{{ path }}"><img src="/media/img/{{ cover }}" alt="{{ title }}" /></a>
	</figure>
	<h2 class="title is-size-5"><a href="/{{ path }}" class="has-text-black">{{ title }}</a></h2>
	<p>&pound;{{ price }}</p>
	<a class="button is-link is-fullwidth"><span class="snipcart-add-item"
		data-item-id="{{ id }}"
		data-item-price="{{ price }}"
		data-item-url="{{ path }}"
		data-item-description="{{ description }}"
		data-item-image="{{ cover }}"
		data-item-name="{{ title }}"
		data-item-taxable="{{ taxable }}"
		data-item-weight="{{ weight }}">
	Add to cart</span></a>
</div>
