
{{> header.hbs }}

{{#if image}}
<section id="{{makeId title}}" class="hero is-medium is-dark has-text-centered" style="background-image: url(/media/img/{{ image.source }})">
	<div class="hero-body">
		<div class="container is-invisible">
			<h1 class="title is-1">{{ title }}</h1>
			{{#if subtitle }}<h2 class="subtitle">{{ subtitle }}</h2>{{/if}}
		</div>
	</div>
</section>
{{/if}}

<section class="section">
	<div class="container">
		<div class="content">{{{ contents }}}</div>
	</div>
</section>

{{> footer.hbs }}